@page

@using System.Xml.Serialization
@using System.Diagnostics

@model IndexModel
@{
    Process[] processes = (Process[])ViewData["ProcessCount"]!;
}
<div class="text-center">
    <h1 class="display=4">Processes running on my computer</h1>
    <table>
        @foreach (var process in processes)
        {
            <tr>
                <td>@process.ProcessName</td>
                <td>@process.Id</td>
            </tr>
        }
    </table>
</div>
